In [74]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd

df_mother = pd.read_csv("df_random.csv")
df = df_mother

pd.options.display.max_columns = None

In [75]:
df.head()

,Unnamed: 0,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,Ve,Mk,Cn,Ct,Cr,r,m (kg),Mt,Enedc (g/km),Ewltp (g/km),W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),z (Wh/km),IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km)
0,7960101,7701815,DE,NaN,PSA-OPEL,AUTOMOBILES PEUGEOT,AUTOMOBILES PEUGEOT,PEUGEOT F,E2*2007/46*0405*22,L,C,YHZR-R2B000,PEUGEOT,308,M1,M1,1,1394.0,1582.0,102.0,137.0,2730.0,1565.0,1560.0,diesel,M,1499.0,96.0,NaN,NaN,NaN,NaN,NaN,NaN,P,2019,NaN,NaN,NaN
1,970112,3387186,AT,IP-11-TMA-2018-0029,HYUNDAI,HYUNDAI CZECH,HYUNDAI MOTOR MANUFACTURING CZECH SRO,HYUNDAI MOTOR MANUFACTORING CZECH SRO,e11*2007/46*3807*05,PDE,F5D21,M67AZ1,HYUNDAI,I30,M1,M1,1,1415.0,1489.0,105.0,117.0,2650.0,1573.0,1581.0,diesel,M,1598.0,85.0,NaN,NaN,NaN,NaN,NaN,0.0,P,2019,NaN,NaN,NaN
2,6285154,5745360,DE,IP-04-TSM-2018-0762,SUZUKI POOL,MAGYAR SUZUKI,MAGYAR SUZUKI CORPORATION LTD,MAGYAR SUZUKI H,E4*2007/46*0928*04,LY,DA1S,MT2/L,SUZUKI,VITARA,M1,M1,1,1195.0,1352.0,131.0,146.0,2500.0,1535.0,1505.0,petrol,M,1373.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,P,2019,NaN,NaN,NaN
3,9117779,9394578,FR,IP-YHY____BE__1118-VF7-0,PSA-OPEL,AUTOMOBILES CITROEN,AUTOMOBILES CITROEN,AUTOMOBILES CITROEN,e2*2007/46*0003*59,S,XYHY,P/BAS,CITROEN,C3,M1,M1,1,1165.0,1287.0,85.0,115.0,2539.0,1483.0,1483.0,diesel,M,1499.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,P,2019,NaN,NaN,NaN
4,11676006,13508686,SE,NaN,BMW GROUP,BMW AG,BAYERISCHE MOTOREN WERKE AG,BAYERISCHE MOTOREN WERKE AG,e1*2007/46*1682*04,FMX,YU71,CAW50000,MINI,COUNTRYMAN COOPER SE ALL,M1,M1,1,1760.0,1905.0,56.0,71.0,2670.0,1563.0,1565.0,petrol/electric,P,1499.0,100.0,139.0,NaN,NaN,NaN,NaN,NaN,P,2019,NaN,NaN,NaN

In [38]:
df["Cn"].value_counts()

GOLF                            3440
CLIO                            3166
TIGUAN                          2245
208                             2188
POLO                            2184
                                ...
488                                1
TOUAREG V6 R-LINE TECH TSI A       1
A3 Sportback g-tron                1
H-1 STAREX                         1
XC60 MOMENTUM PRO D4 AUTO          1
Name: Cn, Length: 5411, dtype: int64

In [39]:
df["Mk"].value_counts()

RENAULT                  10745
PEUGEOT                   9956
FORD                      9728
VOLKSWAGEN                8013
VOLKSWAGEN VW             7885
                         ...
CATERHAM                     1
MERCEDESAMG                  1
DONKERVOORT                  1
VOLKSWAGEN MOTORSPORT        1
VOSCO                        1
Name: Mk, Length: 136, dtype: int64

In [40]:
df["Mh"].value_counts()

VOLKSWAGEN         17253
RENAULT            12622
BMW AG              9796
DAIMLER AG          9749
FORD WERKE GMBH     9439
                   ...
E-GO                   2
DONKERVOORT            1
CATERHAM               1
ANHUI                  1
ADIDOR                 1
Name: Mh, Length: 76, dtype: int64

In [67]:
df = df.rename({"Mh": "Manufacturer", "W (mm)": "Wheel_Base", "At1 (mm)": "Axle_Width", "Ft": "Fuel_Type", "Fm": "Fuel_Mode", "ec (cm3)": "Eng_Capacity", "ep (KW)": "Eng_Power", "z (Wh/km)": "Electric_Consum", "Enedc (g/km)": "CO2"}, axis=1)

In [43]:
df = df.drop(["Unnamed: 0", "VFN", "Mp","Man","MMS", "Tan", "T", "Va", "Ve", "Mk", "Cn", "Ct"], axis=1)

In [45]:
df = df.drop(["Cr", "r", "Ewltp (g/km)", "At2 (mm)", "De", "Vf", "Status", "Electric range (km)"], axis=1)

In [ ]:
df = df.drop(["Date of registration", "Fuel consumption "], axis=1)

In [69]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154997 entries, 0 to 154996
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Country          154997 non-null  object
 1   Manufacturer     154997 non-null  object
 2   m (kg)           154997 non-null  float64
 3   Mt               139554 non-null  float64
 4   CO2              154390 non-null  float64
 5   Wheel_Base       154837 non-null  float64
 6   Axle_Width       154643 non-null  float64
 7   Fuel_Type        154997 non-null  object
 8   Fuel_Mode        154996 non-null  object
 9   Eng_Capacity     151499 non-null  float64
 10  Eng_Power        132016 non-null  float64
 11  Electric_consum  3133 non-null    float64
 12  IT               18918 non-null   object
 13  Ernedc (g/km)    17924 non-null   float64
 14  Erwltp (g/km)    82 non-null      float64
 15  year             154997 non-null  int64
dtypes: float64(10), int64(1), object(5)
memory usage: 16.0+ MB

None

In [ ]:
# replace "m (kg)"  by  "Mt"  if m (kg) is NaN (probably NaN because they are equal). rename "Mass"
# DROP Mt , because it relates to WLTP standard, whereas m (kg) relates to NDCD standard.

In [ ]:
# "Erwltp (g/km)","Ernedc (g/km)" ,"IT"   to be made into a dummy  "ERT"

In [ ]:
# dont drop ,"z (Wh/km)"    is it there for all electric engines?

In [ ]:
only M1 , M2

In [70]:
x = df.dropna(axis=0 , how='all' , subset=["Electric_consum"])
x.head()

,Country,Manufacturer,m (kg),Mt,CO2,Wheel_Base,Axle_Width,Fuel_Type,Fuel_Mode,Eng_Capacity,Eng_Power,Electric_consum,IT,Ernedc (g/km),Erwltp (g/km),year
4,SE,BMW AG,1760.0,1905.0,56.0,2670.0,1563.0,petrol/electric,P,1499.0,100.0,139.0,NaN,NaN,NaN,2019
51,DE,DAIMLER AG,1085.0,NaN,0.0,1873.0,1471.0,electric,E,NaN,41.0,241.0,NaN,NaN,NaN,2019
168,GB,TESLA,1931.0,2047.0,0.0,2875.0,1580.0,electric,E,NaN,NaN,160.0,NaN,NaN,NaN,2019
250,FR,VOLVO,2139.0,2290.0,51.0,2865.0,1653.0,petrol/electric,P,1969.0,223.0,156.0,NaN,NaN,NaN,2019
317,SE,RENAULT,1575.0,1653.0,0.0,2588.0,1503.0,electric,E,NaN,80.0,165.0,NaN,NaN,NaN,2019

In [71]:
display(x.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3133 entries, 4 to 154938
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          3133 non-null   object
 1   Manufacturer     3133 non-null   object
 2   m (kg)           3133 non-null   float64
 3   Mt               2629 non-null   float64
 4   CO2              3133 non-null   float64
 5   Wheel_Base       3133 non-null   float64
 6   Axle_Width       3128 non-null   float64
 7   Fuel_Type        3133 non-null   object
 8   Fuel_Mode        3133 non-null   object
 9   Eng_Capacity     1062 non-null   float64
 10  Eng_Power        2280 non-null   float64
 11  Electric_consum  3133 non-null   float64
 12  IT               6 non-null      object
 13  Ernedc (g/km)    7 non-null      float64
 14  Erwltp (g/km)    0 non-null      float64
 15  year             3133 non-null   int64
dtypes: float64(10), int64(1), object(5)
memory usage: 354.9+ KB

None

In [73]:
display(x["Fuel_Type"].unique())

array(['petrol/electric', 'electric', 'diesel/electric', 'petrol',
       'diesel'], dtype=object)

In [ ]:
# Electric consumption is given for Electric as well as for SOME petrol cars